const path = require('path');

const dirname = __dirname;

module.exports = {
    appDir: __dirname,
    resourcesDir: path.join(__dirname, 'resources'),
    cssDir: path.join(__dirname, 'resources', 'css'),
    imgDir: path.join(__dirname, 'resources', 'img'),
    viewsDir: path.join(__dirname, 'views'),
    rendererDir: path.join(__dirname, 'renderer'),

    url: ,
    baseDN: ,
    postfix: ,
};
