<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Active Directory Helper</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
    <link rel="stylesheet" href="../resources/css/light.bootstrap.min.css">
    <!--<link rel="stylesheet" href="../resources/css/login.css">-->
</head>

<body>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-12 align-content-center">
            <img src="../resources/img/adLoginLogo.png" alt="Card image" height="100" width="400">
        </div>
    </div>
    <br/>

    <div class="row" id="login-row">
        <div class="col-md-8 offset-md-2  align-content-center">

            <div class="input-group mb-3 input-group-sm">
                <label for="login-url" hidden></label>
                <input id="login-url" type="text" class="form-control" placeholder="URL">
                <label for="login-basedn" hidden></label>
                <input id="login-basedn" type="text" class="form-control" placeholder="BaseDN">
            </div>

            <div class="input-group mb-3 input-group-sm">
                <label for="login-username" hidden></label>
                <input id="login-username" type="text" class="form-control" placeholder="Username">
                <label for="login-password" hidden></label>
                <input id="login-password" type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <button id="login-submit" class="btn btn-success">Go</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require('jquery');
    require('popper.js');
    require('../resources/js/bootstrap.min');
    require('../resources/js/bootstrap-func.js');
    require('../models/login.js');
</script>
</body>
</html>